<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form [formGroup]='myForm' (ngSubmit)='onSubmit(myForm)'>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink] = "['home']" routerLinkActive = "active">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink] = "['gui']" routerLinkActive = "active">Game</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink] = "['leaderboard']" routerLinkActive = "active">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!playerLoggedin" class="nav-link" [routerLink] = "['login']" routerLinkActive = "active">Login</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!playerLoggedin" class="nav-link" [routerLink] = "['register']" routerLinkActive = "active">Register</a>
        </li>
        <li class="nav-item">
          <a *ngIf="playerLoggedin" class="nav-link" (click) = 'logout()' routerLinkActive = "active">Logout</a>
        </li>
        <li *ngIf="!playerLoggedin" class="nav-item">
          <div class="input-group mb-3">
            <input id="username" class = 'form-control loginUsername' id="loginUsername" type = "text" name = "username" placeholder = "Username" formControlName='username'>
          </div>
        </li>
        <li *ngIf="!playerLoggedin" class="nav-item">
          <div class="input-group mb-3">
            <input type="password" type="password" name="password" class="form-control" placeholder="password" aria-label="password" formControlName='password'  autocomplete="on">
          </div>
        </li>
        <li *ngIf="!playerLoggedin" class="nav-item">
          <div class="input-group mb-3">
            <button class="btn btn-primary" type="submit">Quick Login</button>
          </div>
        </li>
        <li *ngIf="!playerLoggedin && 'this.errorMessage'" class="nav-item">
          <span class="text-danger nav-link">
            {{this.errorMessage}}
          </span>
        </li>
        <li *ngIf="!playerLoggedin">
          <span class="text-danger nav-link" *ngIf="myForm.get('username')?.invalid && myForm.get('username')?.errors && (myForm.get('username')?.dirty || myForm.get('username')?.touched)">
            Username is required
          </span>
        </li>
        <li *ngIf="!playerLoggedin">
          <span class="text-danger nav-link" *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.errors && (myForm.get('password')?.dirty || myForm.get('password')?.touched)">
            Password must be more than 8 characters
          </span>
        </li>
      </ul>
    </div>
  </form>
</nav>
<router-outlet></router-outlet>
